*{
    margin: 0;
    padding: 0;
}

body{
    background: #F9FBFF
}

.header{
    width: 100%;
    height: 768px;
    background-color: #F9FBFF;
    display: flex;
}

.header__item:first-child{
    width: 255px;
    padding-left: 180px;
}


#revoLogo{
    padding-top: 75px;
    padding-left: 6px;
    margin-bottom: 389px;
}

.reader__item_text{
    position: relative;
    z-index: 2;
}

.header__item_image{
    position: relative;
    z-index: 0;
}

.header__item_button{
    position: relative;
    bottom: 435px;
    left: 296px;
    z-index: 3;
}

.header__item:last-child{
    padding-top: 74px;
    padding-left: 56px;
    width: 100%;
    background-color: #415167;
}

.header__cart{
    margin-bottom: 114px;
}

.nav__item:first-child{
    margin-bottom: 30px;
}

.nav__item{
    margin-bottom: 23px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #cdcdcd;
}

.nav__item:hover{
    color: white;
    cursor: pointer;
    font-weight: 500;
}

.nav__item.active{
    color: grey;
}

.postHeader{
    margin-bottom: 300px;
}

.postHeader__items{
    display: flex;
    justify-content: center;
    gap: 85px;
}

.postHeader__text{
    position: relative;
    top: 87px;
    left: 482px
}


.postHeader__item{
    max-width: 230px;
    text-align: center;
    position: relative;
    right: 25px;
    top: 170px;
}

.postHeader__item h2{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #232C38;
    margin-top: 37px;
    margin-bottom: 15px;
}

.postHeader__item p{
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #151D28;
}

.products{
    display: flex;
    overflow: hidden;
}

.left{
    width: 384px;
    height: 894px;
    background-color: #415167;
}

.right{
    width: 71%;
    height: 894px;
    background-color: #fff;
}


.products__text{
    margin: 90px 154px;
}

.products__part_items{
    position: relative;
    bottom: 20px;
    right: 256px;
    display: grid;
    grid-template-columns: repeat(3, 560px); 
    grid-template-rows: repeat(3, 256px);
    gap: 30px;
}

.products__part_item:first-child{
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.products__part_item{
    background-color: #fff;
    display: flex;
}

.products__part_item h3{
    margin: 42px 0 8px 45px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #C7A17A;
}

.products__part_item h2{
    margin: 0 0 24px 45px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #232C38;
}

.products__part_item p{
    margin-left: 45px;
    margin-bottom: 32px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #151D28;
}

.buttons{
    margin-left: 43px;
    display: flex;
}

.leftButton{
    display: flex;
    width: 134px;
    height: 32px;
    border-radius: 16px;
    background-color: #C7A17A;
    justify-content: center;
    align-items: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #F9FBFF;
}


.rightButton{
    display: flex;
    width: 120px;
    height: 40px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #415167;
}

.product3{
    opacity: 0.5;
}

.product6{
    opacity: 0.5;
}

.giftset{
    display: flex;
}

.giftset__part:first-child{
    width: 1076px;
    height: 802px;
    background-color: #EDF0F5;
}

.giftset__text{
    margin: 86px 0 58px 584px;
}

.giftset__part_description{
    display: flex;
    width: 882px;
    height: 460px;
    background-color: #fff;
    margin-left: 386px;
}

.descriptionLeft{
    width: 794px;
    height: 460px;
    display: flex;
}

.descriptionLeft h3{
    margin: 0px 0 8px -223px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #C7A17A;
    padding-top: 69px;
}

.descriptionLeft h2{
    margin: 0 0 15px -223px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #232C38
}

.descriptionLeft p{
    width: 435px;
    height: 115px;
    margin-left: -223px;
    margin-bottom: 20px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #151D28;
}

.afterP{
    display: flex;
    margin-left: -223px;
    margin-bottom: 43px;
}

.beans{
    margin-right: 20px;
}

.mountain{
    margin: 0 15px 0 72px;
}

.buttonsS{
    display: flex;
    margin-left: -223px;
}

.leftButtonS{
    display: flex;
    width: 166px;
    height: 38px;
    border-radius: 20px;
    background-color: #C7A17A;
    justify-content: center;
    align-items: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #F9FBFF;
    margin-right: 95px;
}

.revoCoffee{
    position: relative;
    right: 260px;
    top: 60px;
}

.descriptionRight div{
    width: 88px;
    height: 154px;
    background: #EDF0F5;
    opacity: 0.3;
}

.descriptionRight div:first-child{
    background-color: #fff;
}

.descriptionRight img{
    margin-top: 72px;
    margin-left: 36px;
}

.comboPhin{
    display: flex;
}

.comboPhin_part_left{
    width: 1074px;
    height: 906px;
}

.comboPhin_part_right{
    width: 326px;
    height: 906px;
    background: #415167
}

.comboPhinText{
    margin: 88px 0 60px 550px;
}

.images{
    display: flex;
    gap: 30px;
    position: relative;
    left: 120px;
}

.footer{
    width: 1400px;
    height: 60px;
    background-color: #EDF0F5;
    font-family: Nunito;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #415167;
    text-align: center;
    display: table;
}

.footer p {
    display: table-cell;
    vertical-align: middle;
}